<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Restaurante {{ restaurante.id }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename="css/style.css")}}'>

</head>
<body>
    {% if restaurante %}
<div class="tela">
    <h1>Restaurante {{ restaurante.nome }}</h1>
    <img class="imagem" src="{{ url_for('static', filename=restaurante.imagem) }}">
    <h2>Endereço: {{ restaurante.endereço }}</h2>
    <h2>Horário de Funcionamento: 8:00h-21:00h</h2>
</div>

<div class="comentarios">
    <h1>Comentários sobre o restaurante:</h1>
    {% for comentario in restaurante.comentario %}
        <h3>{{ comentario.pessoa }}: <p>{{ comentario.opniao }}</h3>
    {% endfor %}
</div>   
    {% else %}
        <p>Não identificado!</p>
    {% endif %}
<h7>By: PauloVitor</h7>
</body>
</html>

