<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Restaurantes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename="css/style.css")}}'>
</head>
<body>
<div class="tela">
    <h1>RESTAURANTES EM VASSOURAS</h1>

    {% for restaurante in restaurantes %}
    <section>
        <a href="{{ url_for('restaurante', id=restaurante.id) }}">
        <h1>Restaurante {{restaurante.nome}}</h1>
        <img class="imagem" src="{{ url_for('static', filename=restaurante.imagem) }}">
        </a>
    </section>
    {% endfor %}

</div>
<h7>By: PauloVitor</h7>
</body>
</html>